:root{
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}
h1{
    font-size: 1.5rem;
}
.main-container{
    width: 90%;
    margin: 0px auto;
    max-width: 750px;
    animation: visible .5s linear;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.jc-between{
    justify-content: space-between;
}



header{
    padding: 20px 0px;
    opacity: 0;
}
header.visible{
    opacity: 1;
    animation: visible .75s linear;
}
header span{
    color: var(--White);
    background-color: var(--Blue);
    padding: 2px 8px;
    border-radius: 5px;
    margin-left: 5px;
    align-self: flex-end;
}
header p{
    color: var(--Dark-grayish-blue);
}

a{
    text-decoration: none;
    transition: all 300ms;
    color: var(--Very-dark-blue);
}
a:hover,
.link.post:hover{
    color:var(--Blue);
}

.notificationItem{
    margin: 30px 0;
    opacity: 0;
}
.notificationItem.visible{
    animation: visible 1s linear;
    opacity: 1;
}
.notificationItem .avatar img{
    width: 50px;
    margin-right: 10px;
}
.information{
    width: 100%;
    font-size: 0.9em;
}
.username{
    color: var(--Very-dark-blue);
    font-weight: 800;
}
.type{
    color:var(--Dark-grayish-blue);
}
.link.post{
    color: var(--Dark-grayish-blue);
    text-shadow: 0px 0px 1px var(--Dark-grayish-blue);
    font-weight: 800;
}
.link.group{
    color: var(--Blue);
    font-weight: 700;
}
.reading{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--Red);
    transform: translate(3px, -0.1rem);
    visibility: hidden;
}
.reading.show{
    visibility: visible;
}
.timeAgo{
    color: var(--Grayish-blue);
    font-size: 0.8em;
    margin-top: 3px;
}
.message{
    border: 1px solid var(--Light-grayish-blue-1);
    padding: 10px;
    margin-top: 5px;
    color: var(--Dark-grayish-blue);
    font-size: .9em;
    transition: all 300ms;
    cursor: pointer;
}
.message:hover{
    background: var(--Light-grayish-blue-1);
}
.img-commented{
    max-width: 2.5rem;
    align-self: center;
    cursor: pointer;
}

@keyframes visible {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width:768px) {
    body{
        font-size: 18px;
    }
    .main-container{
        margin: 60px auto;
        padding: 20px;
        box-shadow: var(--Light-grayish-blue-1) 0px 8px 24px;
    }
    .notificationItem{
        box-shadow: var(--Light-grayish-blue-2) 0px 2px 8px 0px;
        padding: 1rem;
    }
}